<script setup lang="ts">
import { onMounted } from "vue";
import allStrings from "./strings";
import { generateCaptcha, attemptCaptcha } from "./utils";

const lang = $ref("en");
const strings = allStrings[lang];

const captchaId = $ref("");
let captchaImageURL = $ref("");
const attemptInput = $ref("");

const newCaptcha = async () => {
  const result = await generateCaptcha();
  captchaId = result.captchaId;
  captchaImageURL = result.imageUrl;
};

const handleSubmit = async (event: Event) => {
  event.preventDefault();
  const isAttemptSuccessful = await attemptCaptcha(captchaId, attemptInput);
  if (isAttemptSuccessful) {
  }
};

onMounted(() => {
  newCaptcha();
});
</script>

<template>
  <div id="wrapper">
    <div id="image-wrapper">
      <img :src="captchaImageURL" />
    </div>
    <div>
      <form @submit="handleSubmit">
        <input
          id="incaptcha-input"
          name="incaptcha_input"
          type="text"
          v-model="attemptInput"
          :placeholder="strings.enterCaptcha"
        />
        <button>{{ strings.submit }}</button>
      </form>
    </div>
  </div>
</template>

<style scoped>
#wrapper {
  width: 300px;
  border: 1px solid #ccc;
}

#wrapper form {
  margin: 4px 2px 2px;
  display: flex;
  gap: 4px;
}

#image-wrapper {
  width: 300px;
  height: 100px;
  text-align: center;
  background: #fff;
}

#image-wrapper img {
  max-height: 100%;
  max-width: 100%;
}

#incaptcha-input {
  width: 100%;
  padding: 5px 10px;
  outline: none;
}
</style>
